extends ../layouts/default

block content
	.container: .jumbotron
		form(action="/filesent", method="POST", enctype="multipart/form-data")
			select(name="platform").form-control
				if platforms
					each platform, index in platforms
						option(value=platform.id)=platform.name
			br
			input(type="file",name="file").form-control
			br
			input(type="submit").form-control